.passenger-page {
  display: flex;
  height: 100vh;
  background: #f7f7f7;
  padding: 20px;
  box-sizing: border-box;
}

.table-content {
  flex: 1;
  padding: 20px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Passenger Table */
.table-container {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 80%; 
  margin-left: 2%; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  color: black;
}

tbody tr:hover {
  background: #f1f1f1;
}
