.schedule-page {
  padding: 20px;
}

.schedule-page h1 {
  margin-bottom: 30px;
  color: #333;
  font-size: 24px;
}

.schedule-content {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2px #E4C779 solid;
  margin-bottom: 16px;
} 



.schedule-info
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.info-flight-route{
  padding-top: 25px;

}

.info-flight-route h6{
  text-align: center;
  margin-top: 0px;
  color: #84827E;
}

.info-flight h5{
  margin-top: -10px;
  text-align: center;
  color: #84827E;
}

.divider{
  width:100%;
  padding-bottom: 20px;
}

.view-button{
  margin-left: 20px;
  padding: 10px;
  color:white;

  text-decoration: none;
  background-color:#222222;
  border: 1px solid #222222;
  border-radius: 15px;
}



.flight-search-container {
  padding: 16px;
  max-width: 100%;
  margin: 2.5rem auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.flight-search-fields {
  display: flex;
  gap: 80px;
}

.flight-search-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.flight-search-group label {
  font-size: 0.875rem;
  color: #555;
}

.flight-search-group input {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  font-weight: 600;
}

.swap-button {
  background-color: #f0f0f0;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  color: #555;
}

.search-button {
  background-color: black;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}


.flight-search-group select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  width: 100%;
  max-width: 250px;
  box-sizing: border-box; 
  transition: all 0.3s ease-in-out;
}


.flight-search-group input,
.flight-search-group select,
.search-button,
.swap-button {
  font-family: Arial, sans-serif; 
  font-size: 14px; 
  padding: 6px 12px; 
  border-radius: 7px; 
  border: 1px solid #ccc; 
  box-sizing: border-box; 
  transition: all 0.3s ease-in-out;
}

.reset-button {
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #E4C779;
  color: #222222;
  border: 1px solid #E4C779;
  cursor: pointer;
  border-radius: 7px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.reset-button:hover {
  background-color: #d4b769;
  border-color: #d4b769;
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reset-button:active {
  transform: translateY(0);
  box-shadow: none;
}
